/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.logo{
  margin-left: 100px;
}

.links{
  text-align: right;
  margin-right: 100px;
}

ul {
  list-style:none;
}

hr {
  height: 1px;
  border: none;
  border-top: 1px solid #5A5A5A;
}

footer {
  width: 1350px;
  height: 60px;
  background-color: #1E1E1E;
  clear:both;
}

footer p {
  font-size: 12px;
  color: #FFFFFF;
  margin-left: 100px;
}

a {
  text-decoration: none;
}

h3 a {
  color: #000000;
}

.date{
  color: #888888;
}

.postslist{
  margin-left: 100px;
  font-size: 12px;
}

.container{
  width: 1350px;
}

#main{
  width:700px;
  float: left;
  margin: 0;
  padding: 0;
}

#sidebar{
  width: 500px;
  float: right;
  margin: 0;
  padding: 0;
}
